@import 'main';
@import 'variables';

@mixin formatTable () {
    .tr {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        align-items: center;
        padding: 4px 10px;
        margin: 4px;
    }
}

main.invoice-main {

    .section-body {
        @include flex(null, null, null, 20px);
        background-color: $white;
        border-radius: $radius-8;
        padding: 30px;
        width: 100%;
        margin-top: 8px;

        .articles-section {
            width: 70%;
            height: 600px;

            .input-content {
                display: flex;
            }

            .table-article {
                background-color: white;
                padding: 12px;
                width: 100%;
                border-radius: 8px;
                box-shadow: $box-shadow;
                height: 70%;
                position: relative;

                .table {
                    height: 100%;
                    @include formatTable();

                    .th {
                        font-size: 1.8rem;
                    }

                    .thead {
                        margin-bottom: 12px;

                    }

                    .tbody {
                        max-height: 300px;
                        margin-bottom: 12px;
                        overflow-y: scroll;
                        overflow-x: hidden;
                        margin-top: 22px;
                        height: 80%;
                        @include formatTable();

                        .tr:nth-child(2n+1) {
                            background-color: $grey-10;
                        }

                        .td,
                        a {
                            font-size: 1.8rem;
                        }
                    }

                    .tfoot {
                        width: 98%;
                        @include formatTable();

                        .tf {
                            font-size: 1.8rem;
                        }
                    }
                }
            }

            .table-article.select {
                .tbody {
                    .tr {
                        @extend .select-art;
                        cursor: pointer;
                    }
                }
            }
        }

        .control-section {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .actions-button {
                display: flex;
                flex-direction: column;
                gap: 22px;

                button {
                    background-color: white;
                    width: 90px;
                    height: 70px;
                    border: none;
                    border-radius: 8px;
                    box-shadow: $box-shadow;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    cursor: pointer;

                    &.disabled {
                        opacity: 0.45;
                        pointer-events: none;
                    }

                    i {
                        font-size: 2rem,
                    }

                    span {
                        font-size: 1.6rem;
                    }
                }

                button:hover {
                    background-color: $soft-grey;
                }

                button:active {
                    background-color: $strong-grey;
                }
            }   
        }


    }
}

.input-form {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: 16px;
    margin-bottom: 12px;
    position: relative;

    input {
        height: 48px;
        padding: 12px;
        border: none;
        box-shadow: $input-shadow;
        border-radius: 8px;
        font-size: 1.8rem;
        outline: none;
        margin: 10px 0;
    }

    label,
    input {
        font-size: 1.8rem;
    }

    span {
        font-size: 1.6rem;
    }

    button {
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        border: none;
        right: -56px;
        top: 27px;
        cursor: pointer;
        background: #ccc;

        &:hover {
            background: #b6b6b6;
        }

        &:active {
            background: #979797;
        }

        i {
            font-size: 20px;
        }
    }
}

.modal-user-content {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.2s;
    pointer-events: none;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-user {
        border-radius: 8px;
        background-color: white;
        width: 30%;
        transition: 0.2s;
        overflow: hidden;
        max-height: 0px;
        padding: 0 50px;

        .input-content {
            display: flex;
            position: relative;
            height: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 22px;

            label {
                display: flex;
                flex-direction: column;
                gap: 6px;
            }

            span {
                font-size: 1.6rem;
            }

            span.wrong-password {
                position: absolute;
                font-size: 1.4rem;
                bottom: 135px;
                left: 83px;
                color: red;
                font-weight: 500;
                opacity: 0;
            }
        }

        .button-content {
            display: flex;
            gap: 20px;
            flex-direction: row;
            justify-content: center;
            margin-top: 10px;

            .btn {
                width: 150px;
                height: 44px;
                border: none;
                box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2509803922);
                border-radius: 4px;
                color: black;
                font-weight: 600;
                font-size: 1.6rem;
                cursor: pointer;
            }

            .btn-success {
                background-color: $primary-color;

            }

            .btn-danger {
                background-color: $secondary-color;
            }
        }
    }

    .input-form {
        width: 269px;
        height: 32px;
        border: none;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3333333333);
        border-radius: 8px;
        padding: 5px 14px;
        font-size: 1.8rem;
        margin-left: 0;
        box-sizing: border-box;

    }
}

.modal-user-content.show {
    background-color: #4A4A4A50;
    pointer-events: auto;

    .modal-user {
        max-height: 500px;
        padding: 50px;
    }
}

.collect-modal {
    .modal-user {
        width: 40% !important;

        .collect-content {
            display: flex;
            gap: 36px;
            justify-content: center;

            textarea {
                width: 90%;
                padding: 20px;
                border-radius: 8px;
                font-size: 20px;
                box-sizing: border-box;
                box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.25);
                margin-bottom: 30px;
            }

            .total-collect-content {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .collect {
                    display: flex;
                    flex-direction: column;
                    gap: 3px;
                    align-items: center;
                    margin: 8px 0;

                    p {
                        font-weight: 500;
                        font-size: 1.8rem;
                    }

                    &.grand {
                        font-size: 2rem;
                        text-align: center;

                        p:nth-child(2) {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }

    }

}

.select-row {
    background-color: rgb(222, 222, 231) !important;
    cursor: pointer;
}

.selected-row {
    background-color: rgb(233, 146, 146) !important;
    cursor: pointer;
}

.content-order {
    width: 100%;
    height: 100vh;
    background-color: $smooth-purple-active;
    margin: 0;
    padding: 0;
    position: relative;

    .panel-content {
        position: absolute;
        top: 16px;
        right: 16px;
        bottom: 16px;
        left: 16px;
        background-color: $white;
        font-size: 10rem;
        padding: 20px 28px;
        border-radius: 14px;
        box-shadow: 0 0 4px 3px #00000070;

        .btn-close {
            position: absolute;
            right: 26px;
            top: 10px;
            height: 29px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            i {
                font-size: 2.8rem;
                color: #80808099;
            }
        }

        .title {
            font-weight: 700;

            p {
                font-size: 2.4rem;
            }
        }

        .row-head {
            display: flex;
            justify-content: space-between;
            margin: 18px 0;

            .search {
                input {
                    border: 1px solid gray;
                    border-radius: 25px;
                    padding: 0 16px;
                    font-size: 2rem;
                    height: 40px;
                    width: 188px;
                }
            }

            .filter {
                select {
                    border: 1px solid gray;
                    padding: 12px;
                    height: 40px;
                    width: 145px;
                    border-radius: 16px;
                }
            }
        }

        .content-card {
            height: 90%;
            overflow-y: scroll;
            padding: 4px;

            .row {
                display: flex;
                padding: 16px;
                gap: 30px;
                border-radius: 8px;
                box-shadow: 0 0 6px 4px rgb(99 99 99 / 32%);
                margin-bottom: 18px;
                transition: 0.2s;
                height: 100px;
                position: relative;
                overflow-y: hidden;

                .menu {
                    display: flex;

                    i {
                        cursor: pointer;
                        font-size: 2.4rem;
                        height: 24px;
                        position: relative;

                        .content-menu-table {
                            height: 184px;
                            width: 200px;
                            background-color: #dfdfdf;
                            position: absolute;
                            right: -2px;
                            z-index: 9;
                            border-radius: 8px;
                            padding: 10px;
                            box-shadow: 0 0 12px 1px #68686887;

                            .row-option {
                                display: flex;
                                align-items: center;
                                column-gap: 10px;
                                padding: 6px 10px;
                                border-bottom: 1px solid gray;
                                margin-bottom: 12px;
                                transition: 0.4s;
                                border-radius: 8px;

                                .ico {
                                    i {
                                        font-size: 2rem;
                                        color: $main-purple;
                                    }
                                }

                                p {
                                    font-size: 1.8rem;
                                    color: gray;
                                }
                            }

                            .row-option:hover {
                                background-color: rgba(110, 109, 109, 0.348);
                            }
                        }
                    }
                }

                .down {
                    position: absolute;
                    bottom: 0;
                    width: 98%;
                    text-align: center;

                    i {
                        font-size: 1.4rem;
                        padding: 10px;
                        cursor: pointer;
                        border-radius: 50%;
                        transition: 0.2s;
                    }

                    i:hover {
                        background-color: #9393931c;
                    }
                }

                .colum {
                    width: 100%;

                    .head {
                        font-size: 1.9rem;
                        font-weight: 600;
                        margin-bottom: 8px;
                    }
                    .check{
                        width: 24px;
                        height: 24px;
                        cursor: pointer;
                    }
                    .text-center {
                        text-align: center;
                    }

                    .text-right {
                        text-align: end;
                    }

                    .tbody {
                        font-size: 1.8rem;
                        font-weight: 100;
                    }

                    .proceso{
                        color: #3893cc;
                        font-weight: 700;
                    } 
                    .pedido{
                        font-weight: 700;
                        color: darkorange;
                    } 
                    .recibido{
                        font-weight: 700;
                        color: green;
                    }
                    input[type="number"]{
                        width: 100%;
                        height: 30px;
                        box-shadow: 1px 1px 2px 1px #00000050;
                        border-radius: 5px;
                        font-size: 1.6rem;
                        text-align: end;
                        padding: 0 12px;
                    }
        
                }

                .table-orders {
                    position: absolute;
                    font-size: 6rem;
                    top: 103px;
                    width: 98%;
                    padding: 10px;
                    border-top: 1px solid gray;

                    .thead {
                        .tr {
                            display: flex;

                            .th {
                                width: 100%;
                                font-weight: 700;
                            }

                            .text-center {
                                text-align: center;
                            }

                            .text-right {
                                text-align: end;
                            }
                        }
                    }

                    .tbody {
                        margin-top: 16px;

                        .tr {
                            display: flex;
                            margin-bottom: 16px;

                            .td {
                                width: 100%;
                                a{
                                    font-size: 1.8rem;
                                }
                            }

                            .text-center {
                                text-align: center;
                            }

                            .text-right {
                                text-align: end;
                            }
                        }
                    }
                }
            }

            .row:hover {
                background-color: #9393931c;
            }
        }
    }
}

.card-opened{
    height: 300px !important;
    i.open-card{
        transform: rotate(180deg);
    }
}
.content-invoice{
    @extend .content-order;
    background-color: transparent;
    .panel-content{
        overflow: hidden;
        .content-card{
            height: 85%;
        }
    }
}