.select-art, main.invoice-main .section-body .articles-section .table-article.select .tbody .tr {
  background: #e5dcd9;
  border-radius: 6px;
}

body {
  display: flex;
  justify-content: center;
  position: relative;
}

.general-content {
  border-radius: 8px;
  background-color: #57386b;
  width: 100%;
  height: 100vh;
  max-height: 1000px;
  overflow: hidden;
  max-width: 1600px;
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.3137254902);
  padding: 20px;
  display: flex;
}
.general-content .side-menu {
  background-color: #57386b;
  overflow-y: scroll;
  min-width: 270px;
  width: 24%;
  padding: 0 20px 0 0;
  position: sticky;
  top: 0;
}
.general-content .side-menu .head-content-menu .logo-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 20px;
}
.general-content .side-menu .head-content-menu .logo-content figure {
  width: 50%;
  height: 80px;
}
.general-content .side-menu .head-content-menu .logo-content figure img {
  object-fit: contain;
}
.general-content .side-menu .main-content-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.general-content .side-menu .main-content-menu .menu-title {
  font-size: 1.4rem;
  color: rgb(29, 26, 26);
  margin-left: 26px;
  font-weight: 600;
  margin: 20px;
}
.general-content .side-menu .main-content-menu .option {
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  height: 40px;
  border-radius: 8px;
  padding: 0px 32px;
  transition: 0.2s;
  border-radius: 50px;
  transition: 0.4s;
}
.general-content .side-menu .main-content-menu .option i {
  font-size: 18px;
  color: #faf8fc;
}
.general-content .side-menu .main-content-menu .option p {
  font-size: 1.4rem;
  font-weight: 300;
  color: #faf8fc;
}
.general-content .side-menu .main-content-menu .option:hover {
  background-color: #c2a3dd;
}
.general-content .side-menu .main-content-menu .option:hover i {
  color: #57386b;
}
.general-content .side-menu .main-content-menu .option:hover p {
  font-weight: 700;
  color: #faf8fc;
}
.general-content .side-menu .main-content-menu .option:active {
  background-color: #a271ce;
}
.general-content .side-menu .main-content-menu .option:active i {
  color: #57386b;
}
.general-content .side-menu .main-content-menu .option:active p {
  font-weight: 700;
  color: #faf8fc;
}
.general-content .side-menu .active {
  background-color: #c2a3dd;
}
.general-content .side-menu .active i {
  color: #57386b !important;
}
.general-content .side-menu .active p {
  font-weight: 700;
  color: #faf8fc;
}
.general-content .main-content {
  background-color: #ebe0f4;
  border-radius: 8px;
  width: 80%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.general-content .main-content .head-content {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1254901961);
  height: 110px;
  min-height: 110px;
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
}
.general-content .main-content .head-content .info-section {
  grid-area: 1/1/2/2;
  margin-left: 70px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.general-content .main-content .head-content .info-section .icon-module i {
  font-size: 3rem;
  color: #57386b;
}
.general-content .main-content .head-content .info-section .detail-module h2 {
  font-size: 3rem;
  font-weight: 600;
}
.general-content .main-content .head-content .profile-section {
  grid-area: 1/2/2/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.general-content .main-content .head-content .profile-section .profile-content {
  width: 70%;
  min-width: 250px;
  height: 80px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2509803922);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  gap: 12px;
}
.general-content .main-content .head-content .profile-section .profile-content:hover {
  background-color: rgba(0, 0, 0, 0.062745098);
}
.general-content .main-content .head-content .profile-section .profile-content:active {
  background-color: rgba(0, 0, 0, 0.1254901961);
}
.general-content .main-content .head-content .profile-section .profile-content .profile-info {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.general-content .main-content .head-content .profile-section .profile-content .profile-info p {
  font-size: 1.6rem;
  text-align: center;
}
.general-content .main-content .head-content .profile-section .profile-content .profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-width: 80px;
}
.general-content .main-content .head-content .profile-section .profile-content .profile-img figure {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  overflow: hidden;
}
.general-content .main-content .head-content .profile-section .profile-content .profile-img figure img {
  font-size: 1.6rem;
}
.general-content .main-content main {
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}
.general-content .main-content main .option-content {
  width: 95%;
  height: 100%;
}
.general-content .main-content main .option-content h2 {
  font-size: 2rem;
}
.general-content .main-content main .option-content .options {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, minmax(260px, 1fr));
  grid-auto-rows: 128px;
  height: 100%;
}
.general-content .main-content main .option-content .options .option {
  display: flex;
  height: 101px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2509803922);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.1s;
  color: rgb(29, 26, 26);
  width: 268px;
  transition: 0.4s;
  max-width: 250px;
  background-color: #faf8fc;
}
.general-content .main-content main .option-content .options .option:hover {
  background-color: #c2a3dd;
}
.general-content .main-content main .option-content .options .option:active {
  background-color: #a271ce;
}
.general-content .main-content main .option-content .options .option .option-icon-content {
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
}
.general-content .main-content main .option-content .options .option .option-icon-content i {
  font-size: 24px;
  color: #391f4c;
  margin-left: 8px;
}
.general-content .main-content main .option-content .options .option .option-detail {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: black;
}
.general-content .main-content main .option-content .options .option .option-detail h3 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #391f4c;
}
.general-content .main-content main .option-content .options .option .option-detail p {
  width: 200px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #57386b;
  max-width: 200px;
}

.button-content {
  display: flex;
  justify-content: end;
  gap: 12px;
}
.button-content .btn {
  width: auto;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
}
.button-content .btn .icon-content i {
  font-size: 2rem;
}
.button-content .btn-success {
  background-color: #2ea667;
  color: #EEEEEE;
  height: 50px;
  width: 150px;
  border-radius: 8px;
}
.button-content .btn-success:hover {
  background-color: #0e8849;
}
.button-content .btn-success:active {
  background-color: #07743c;
}
.button-content .btn-info {
  background-color: #3daae9;
  color: #EEEEEE;
  height: 50px;
  width: 150px;
  border-radius: 8px;
}
.button-content .btn-info:hover {
  background-color: #1c87c5;
}
.button-content .btn-info:active {
  background-color: #126da1;
}

.input-form-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 12px;
}
.input-form-content label {
  font-weight: 500;
  font-size: 1.8rem;
}
.input-form-content .input-form {
  height: 48px;
  padding: 12px;
  border: none;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-size: 1.8rem;
  outline: none;
}
.input-form-content .input-form.text-area {
  height: 80px;
}
.input-form-content span {
  font-size: 1.4rem;
  color: #4A4A4A;
}

.image-form {
  grid-area: 1/1/3/2;
}
.image-form .img-content {
  height: 100%;
  padding: 12px;
  border: none;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-size: 1.8rem;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-form .img-content figure {
  width: 150px;
  height: 150px;
}
.image-form .img-content figure img {
  object-fit: contain;
}
.image-form .image-selector {
  display: none;
}

.option-disabled {
  background-color: #d5d5d5 !important;
  pointer-events: none;
}
.option-disabled:hover {
  background-color: none;
}
.option-disabled i,
.option-disabled h3,
.option-disabled p {
  color: #626262;
}

.modal-content {
  position: fixed;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  display: grid;
  place-content: center;
  pointer-events: none;
}
.modal-content .modal {
  padding: 40px;
  background-color: #faf8fc;
  width: auto;
  border-radius: 12px;
  opacity: 0;
  position: relative;
  max-width: 90vw;
}
.modal-content .modal .close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 25px;
  width: 25px;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 25px;
}
.modal-content .modal .close-modal:hover {
  background-color: rgba(0, 0, 0, 0.1882352941);
}
.modal-content .modal .close-modal:active {
  background-color: rgba(0, 0, 0, 0.3764705882);
}
.modal-content .modal .close-modal p {
  font-size: 1.8rem;
  font-weight: 800;
}
.modal-content .modal .table .thead {
  background-color: #ccc;
  border-radius: 6px;
}
.modal-content .modal .table .thead .tr {
  display: grid;
  gap: 10px;
  padding: 8px;
}
.modal-content .modal .table .thead .tr .th {
  font-size: 1.8rem;
}
.modal-content .modal .table .tbody .tr {
  display: grid;
  gap: 10px;
  padding: 8px;
  transition: background-color 0.2s;
  border-radius: 6px;
  cursor: pointer;
}
.modal-content .modal .table .tbody .tr:hover {
  background-color: rgba(0, 0, 0, 0.062745098);
}
.modal-content .modal .table .tbody .tr .td {
  font-size: 1.8rem;
}
.modal-content .modal .content-button {
  margin-top: 24px;
  display: flex;
  justify-content: end;
}
.modal-content .modal .content-button button {
  background-color: #2ea667;
  color: #EEEEEE;
  height: 50px;
  width: 150px;
  border-radius: 8px;
  outline: none;
  font-size: 1.6rem;
  font-weight: 700;
  border: 0;
  transition: 0.2s;
  cursor: pointer;
}
.modal-content .modal .content-button button:hover {
  background-color: #1f8d54;
}

.modal-content.show {
  background-color: rgba(0, 0, 0, 0.2078431373);
  pointer-events: initial;
}
.modal-content.show .modal {
  opacity: 1;
}

.accept-reject-content {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.accept-reject-content .accept-content-modal {
  height: 0px;
  width: 750px;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  transition: 0.4s;
}
.accept-reject-content .accept-content-modal .text-content {
  width: 100%;
  padding: 20px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accept-reject-content .accept-content-modal .text-content h1 {
  font-size: 4.4rem;
  color: #7d7d7d;
  margin-bottom: 15px;
}
.accept-reject-content .accept-content-modal .text-content p {
  font-size: 2.4rem;
  color: #7d7d7d;
  text-align: center;
}
.accept-reject-content .accept-content-modal .button-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.accept-reject-content .accept-content-modal .button-content button.accept-btn {
  width: 200px;
  height: 60px;
  border-radius: 17px;
  border: none;
  background: #2ea667;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
}
.accept-reject-content .accept-content-modal .button-content button.accept-btn i,
.accept-reject-content .accept-content-modal .button-content button.reject-btn i {
  font-size: 2rem;
}
.accept-reject-content .accept-content-modal .button-content button.accept-btn:active {
  background: #0e8849;
}
.accept-reject-content .accept-content-modal .button-content button.reject-btn {
  width: 140px;
  height: 60px;
  border-radius: 17px;
  border: none;
  background-color: #4A4A4A;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
}
.accept-reject-content .accept-content-modal .button-content button.reject-btn:active {
  background-color: #828282;
}

.accept-reject-content.show {
  background-color: rgba(51, 51, 51, 0.3411764706);
  z-index: 1000;
}
.accept-reject-content.show .accept-content-modal {
  height: 250px;
}

.product-modal .thead .tr,
.product-modal .tbody .tr {
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
}
.product-modal .tbody {
  max-height: 400px;
  height: 400px;
  overflow-y: scroll;
}

.customers-modal .thead .tr,
.customers-modal .tbody .tr {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 12px;
}
.customers-modal .tbody {
  max-height: 400px;
  height: 400px;
  overflow-y: scroll;
}

.sales-modal .thead .tr,
.sales-modal .tbody .tr {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 12px;
}
.sales-modal .tbody {
  max-height: 400px;
  height: 400px;
  overflow-y: scroll;
}

.category-modal .thead .tr,
.category-modal .tbody .tr {
  grid-template-columns: 1fr 2fr 1fr;
}
.category-modal .tbody {
  max-height: 400px;
  height: 400px;
  overflow-y: scroll;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.input-danger {
  box-shadow: 0px 1px 6px 2px rgba(255, 0, 0, 0.414) !important;
  border: solid 2px red !important;
}

/*Alert Banner*/
.alert-banner {
  z-index: 5000;
  transition: right 0.5s;
  border-radius: 5px;
  position: fixed;
  right: -510px;
  bottom: 50px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);
  height: 125px;
  width: 500px;
  background-color: #E8E8E8;
  overflow: hidden;
}
.alert-banner.show {
  right: 60px;
}
.alert-banner .object-content {
  display: flex;
  height: 94%;
  align-items: center;
  padding: 0 20px;
}
.alert-banner .object-content .content-icon {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert-banner .object-content .content-icon i {
  font-size: 3rem;
  color: white;
}
.alert-banner .object-content .message-content {
  position: relative;
  height: 100%;
  width: 390px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  text-align: justify;
}
.alert-banner .object-content .message-content .message-alert p {
  font-size: 1.8rem;
}
.alert-banner .object-content .exit-content {
  height: 100%;
  position: relative;
}
.alert-banner .object-content .exit-content p {
  font-size: 2rem;
  font-weight: 600;
  position: absolute;
  top: 8px;
  left: 8px;
  cursor: pointer;
}

.icon-container {
  background: #a19d25;
}

.icon-container-warning,
.icon-container-danger,
.icon-container-success,
.icon-container-info {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.icon-container-warning {
  background: #a19d25;
}

.icon-container-danger {
  background: #b31914;
}

.icon-container-success {
  background: #2ea667;
}

.icon-container-info {
  background: #3daae9;
}

.loader-bar-warning,
.loader-bar-danger,
.loader-bar-success,
.loader-bar-info {
  width: 100%;
  transition: 0.2s;
}

.loader-bar-warning {
  border: solid 5px #a19d25;
}

.loader-bar-danger {
  border: solid 5px #b31914;
}

.loader-bar-success {
  border: solid 5px #2ea667;
}

.loader-bar-info {
  border: solid 5px #3daae9;
}

/*Fin Alert Banner*/
.hr {
  width: 90%;
  border: solid #c2a3dd;
  border-radius: 50px;
  margin-bottom: 20px;
}

/* HTML: <div class="loader"></div> */
.loader-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1254901961);
  transition: 0.3s;
  z-index: 500;
}
.loader-content .loader {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2509803922);
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}
@keyframes l1 {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
  33% {
    background-size: 20% 10%, 20% 100%, 20% 100%;
  }
  50% {
    background-size: 20% 100%, 20% 10%, 20% 100%;
  }
  66% {
    background-size: 20% 100%, 20% 100%, 20% 10%;
  }
  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
}

.loader-content.show {
  display: flex;
}

.select-art, main.invoice-main .section-body .articles-section .table-article.select .tbody .tr {
  background: #e5dcd9;
  border-radius: 6px;
}

main.invoice-main .section-body {
  display: flex;
  gap: 20px;
  background-color: #faf8fc;
  border-radius: 8px;
  padding: 30px;
  width: 100%;
  margin-top: 8px;
}
main.invoice-main .section-body .articles-section {
  width: 70%;
  height: 600px;
}
main.invoice-main .section-body .articles-section .input-content {
  display: flex;
}
main.invoice-main .section-body .articles-section .table-article {
  background-color: white;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  height: 70%;
  position: relative;
}
main.invoice-main .section-body .articles-section .table-article .table {
  height: 100%;
}
main.invoice-main .section-body .articles-section .table-article .table .tr {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  padding: 4px 10px;
  margin: 4px;
}
main.invoice-main .section-body .articles-section .table-article .table .th {
  font-size: 1.8rem;
}
main.invoice-main .section-body .articles-section .table-article .table .thead {
  margin-bottom: 12px;
}
main.invoice-main .section-body .articles-section .table-article .table .tbody {
  max-height: 300px;
  margin-bottom: 12px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 22px;
  height: 80%;
}
main.invoice-main .section-body .articles-section .table-article .table .tbody .tr {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  padding: 4px 10px;
  margin: 4px;
}
main.invoice-main .section-body .articles-section .table-article .table .tbody .tr:nth-child(2n+1) {
  background-color: rgba(0, 0, 0, 0.062745098);
}
main.invoice-main .section-body .articles-section .table-article .table .tbody .td,
main.invoice-main .section-body .articles-section .table-article .table .tbody a {
  font-size: 1.8rem;
}
main.invoice-main .section-body .articles-section .table-article .table .tfoot {
  width: 98%;
}
main.invoice-main .section-body .articles-section .table-article .table .tfoot .tr {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  padding: 4px 10px;
  margin: 4px;
}
main.invoice-main .section-body .articles-section .table-article .table .tfoot .tf {
  font-size: 1.8rem;
}
main.invoice-main .section-body .articles-section .table-article.select .tbody .tr {
  cursor: pointer;
}
main.invoice-main .section-body .control-section {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.invoice-main .section-body .control-section .actions-button {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
main.invoice-main .section-body .control-section .actions-button button {
  background-color: white;
  width: 90px;
  height: 70px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
main.invoice-main .section-body .control-section .actions-button button.disabled {
  opacity: 0.45;
  pointer-events: none;
}
main.invoice-main .section-body .control-section .actions-button button i {
  font-size: 2rem;
}
main.invoice-main .section-body .control-section .actions-button button span {
  font-size: 1.6rem;
}
main.invoice-main .section-body .control-section .actions-button button:hover {
  background-color: #ccc;
}
main.invoice-main .section-body .control-section .actions-button button:active {
  background-color: #b4b4b4;
}

.input-form {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-left: 16px;
  margin-bottom: 12px;
  position: relative;
}
.input-form input {
  height: 48px;
  padding: 12px;
  border: none;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-size: 1.8rem;
  outline: none;
  margin: 10px 0;
}
.input-form label,
.input-form input {
  font-size: 1.8rem;
}
.input-form span {
  font-size: 1.6rem;
}
.input-form button {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: none;
  right: -56px;
  top: 27px;
  cursor: pointer;
  background: #ccc;
}
.input-form button:hover {
  background: #b6b6b6;
}
.input-form button:active {
  background: #979797;
}
.input-form button i {
  font-size: 20px;
}

.modal-user-content {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.2s;
  pointer-events: none;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-user-content .modal-user {
  border-radius: 8px;
  background-color: white;
  width: 30%;
  transition: 0.2s;
  overflow: hidden;
  max-height: 0px;
  padding: 0 50px;
}
.modal-user-content .modal-user .input-content {
  display: flex;
  position: relative;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 22px;
}
.modal-user-content .modal-user .input-content label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.modal-user-content .modal-user .input-content span {
  font-size: 1.6rem;
}
.modal-user-content .modal-user .input-content span.wrong-password {
  position: absolute;
  font-size: 1.4rem;
  bottom: 135px;
  left: 83px;
  color: red;
  font-weight: 500;
  opacity: 0;
}
.modal-user-content .modal-user .button-content {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}
.modal-user-content .modal-user .button-content .btn {
  width: 150px;
  height: 44px;
  border: none;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2509803922);
  border-radius: 4px;
  color: black;
  font-weight: 600;
  font-size: 1.6rem;
  cursor: pointer;
}
.modal-user-content .modal-user .button-content .btn-success {
  background-color: #00FF00;
}
.modal-user-content .modal-user .button-content .btn-danger {
  background-color: #808080;
}
.modal-user-content .input-form {
  width: 269px;
  height: 32px;
  border: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3333333333);
  border-radius: 8px;
  padding: 5px 14px;
  font-size: 1.8rem;
  margin-left: 0;
  box-sizing: border-box;
}

.modal-user-content.show {
  background-color: rgba(74, 74, 74, 0.3137254902);
  pointer-events: auto;
}
.modal-user-content.show .modal-user {
  max-height: 500px;
  padding: 50px;
}

.collect-modal .modal-user {
  width: 40% !important;
}
.collect-modal .modal-user .collect-content {
  display: flex;
  gap: 36px;
  justify-content: center;
}
.collect-modal .modal-user .collect-content textarea {
  width: 90%;
  padding: 20px;
  border-radius: 8px;
  font-size: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}
.collect-modal .modal-user .collect-content .total-collect-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.collect-modal .modal-user .collect-content .total-collect-content .collect {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  margin: 8px 0;
}
.collect-modal .modal-user .collect-content .total-collect-content .collect p {
  font-weight: 500;
  font-size: 1.8rem;
}
.collect-modal .modal-user .collect-content .total-collect-content .collect.grand {
  font-size: 2rem;
  text-align: center;
}
.collect-modal .modal-user .collect-content .total-collect-content .collect.grand p:nth-child(2) {
  font-size: 2rem;
}

.select-row {
  background-color: rgb(222, 222, 231) !important;
  cursor: pointer;
}

.selected-row {
  background-color: rgb(233, 146, 146) !important;
  cursor: pointer;
}

.content-order {
  width: 100%;
  height: 100vh;
  background-color: #a271ce;
  margin: 0;
  padding: 0;
  position: relative;
}
.content-order .panel-content {
  position: absolute;
  top: 16px;
  right: 16px;
  bottom: 16px;
  left: 16px;
  background-color: #faf8fc;
  font-size: 10rem;
  padding: 20px 28px;
  border-radius: 14px;
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.4392156863);
}
.content-order .panel-content .btn-close {
  position: absolute;
  right: 26px;
  top: 10px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.content-order .panel-content .btn-close i {
  font-size: 2.8rem;
  color: rgba(128, 128, 128, 0.6);
}
.content-order .panel-content .title {
  font-weight: 700;
}
.content-order .panel-content .title p {
  font-size: 2.4rem;
}
.content-order .panel-content .row-head {
  display: flex;
  justify-content: space-between;
  margin: 18px 0;
}
.content-order .panel-content .row-head .search input {
  border: 1px solid gray;
  border-radius: 25px;
  padding: 0 16px;
  font-size: 2rem;
  height: 40px;
  width: 188px;
}
.content-order .panel-content .row-head .filter select {
  border: 1px solid gray;
  padding: 12px;
  height: 40px;
  width: 145px;
  border-radius: 16px;
}
.content-order .panel-content .content-card {
  height: 90%;
  overflow-y: scroll;
  padding: 4px;
}
.content-order .panel-content .content-card .row {
  display: flex;
  padding: 16px;
  gap: 30px;
  border-radius: 8px;
  box-shadow: 0 0 6px 4px rgba(99, 99, 99, 0.32);
  margin-bottom: 18px;
  transition: 0.2s;
  height: 100px;
  position: relative;
  overflow-y: hidden;
}
.content-order .panel-content .content-card .row .menu {
  display: flex;
}
.content-order .panel-content .content-card .row .menu i {
  cursor: pointer;
  font-size: 2.4rem;
  height: 24px;
  position: relative;
}
.content-order .panel-content .content-card .row .menu i .content-menu-table {
  height: 184px;
  width: 200px;
  background-color: #dfdfdf;
  position: absolute;
  right: -2px;
  z-index: 9;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 12px 1px rgba(104, 104, 104, 0.5294117647);
}
.content-order .panel-content .content-card .row .menu i .content-menu-table .row-option {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 6px 10px;
  border-bottom: 1px solid gray;
  margin-bottom: 12px;
  transition: 0.4s;
  border-radius: 8px;
}
.content-order .panel-content .content-card .row .menu i .content-menu-table .row-option .ico i {
  font-size: 2rem;
  color: #57386b;
}
.content-order .panel-content .content-card .row .menu i .content-menu-table .row-option p {
  font-size: 1.8rem;
  color: gray;
}
.content-order .panel-content .content-card .row .menu i .content-menu-table .row-option:hover {
  background-color: rgba(110, 109, 109, 0.348);
}
.content-order .panel-content .content-card .row .down {
  position: absolute;
  bottom: 0;
  width: 98%;
  text-align: center;
}
.content-order .panel-content .content-card .row .down i {
  font-size: 1.4rem;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
}
.content-order .panel-content .content-card .row .down i:hover {
  background-color: rgba(147, 147, 147, 0.1098039216);
}
.content-order .panel-content .content-card .row .colum {
  width: 100%;
}
.content-order .panel-content .content-card .row .colum .head {
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 8px;
}
.content-order .panel-content .content-card .row .colum .text-center {
  text-align: center;
}
.content-order .panel-content .content-card .row .colum .text-right {
  text-align: end;
}
.content-order .panel-content .content-card .row .colum .tbody {
  font-size: 1.8rem;
  font-weight: 100;
}
.content-order .panel-content .content-card .row .table-orders {
  position: absolute;
  font-size: 6rem;
  top: 103px;
  width: 98%;
  padding: 10px;
  border-top: 1px solid gray;
}
.content-order .panel-content .content-card .row .table-orders .thead .tr {
  display: flex;
}
.content-order .panel-content .content-card .row .table-orders .thead .tr .th {
  width: 100%;
  font-weight: 700;
}
.content-order .panel-content .content-card .row .table-orders .thead .tr .text-center {
  text-align: center;
}
.content-order .panel-content .content-card .row .table-orders .thead .tr .text-right {
  text-align: end;
}
.content-order .panel-content .content-card .row .table-orders .tbody {
  margin-top: 16px;
}
.content-order .panel-content .content-card .row .table-orders .tbody .tr {
  display: flex;
  margin-bottom: 16px;
}
.content-order .panel-content .content-card .row .table-orders .tbody .tr .td {
  width: 100%;
}
.content-order .panel-content .content-card .row .table-orders .tbody .tr .text-center {
  text-align: center;
}
.content-order .panel-content .content-card .row .table-orders .tbody .tr .text-right {
  text-align: end;
}
.content-order .panel-content .content-card .row:hover {
  background-color: rgba(147, 147, 147, 0.1098039216);
}

/*# sourceMappingURL=factura.css.map */
