<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{> head_links}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css" />

    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <div class="general-content">
        {{> side_menu}}
        <div class="main-content">
            {{> head}}

            <main>
                <div class="option-content">
                    <h2>Opciones</h2>
                    <div class="options">

                        <a href="/creacion-ordenes" class="option">
                            <div class="option-icon-content">
                                <i class="fa-solid fa-basket-shopping"></i>
                            </div>
                            <div class="option-detail">
                                <h3>Ordenes</h3>
                                <p>Creación de ordenes</p>
                            </div>
                        </a>
                        <a href="/payments" class="option">
                            <div class="option-icon-content">
                               <i class="fa-solid fa-money-bill-wave"></i>
                            </div>
                            <div class="option-detail">
                                <h3>Pagos</h3>
                                <p>Realización de pagos</p>
                            </div>
                        </a>
                        <a href="/creacion-cliente" class="option">
                            <div class="option-icon-content">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="option-detail">
                                <h3>Clientes</h3>
                                <p>Mantenimiento de clientes</p>
                            </div>
                        </a>

                        {{!-- <a href="/facturar" class="option">
                            <div class="option-icon-content">
                                <i class="fa-solid fa-cash-register"></i>
                            </div>
                            <div class="option-detail">
                                <h3>Facturar</h3>
                                <p>Facturación de artículos</p>
                            </div>
                        </a> --}}


                        {{!-- <a href="/creacion-vendedor" class="option">
                            <div class="option-icon-content">
                                <i class="fa-solid fa-user-tag"></i>
                            </div>
                            <div class="option-detail">
                                <h3>Vendedores</h3>
                                <p>Mantenimiento de vendedores</p>
                            </div>
                        </a> --}}

                        {{!-- <a href="/creacion-cliente" class="option option-disabled">
                            <div class="option-icon-content">
                                <i class="fa-solid fa-user-tie"></i>
                            </div>
                            <div class="option-detail">
                                <h3>Autorizadores de caja</h3>
                                <p>Mantenimiento de autorizadores</p>
                            </div>
                        </a> --}}

                        {{!-- <a href="" class="option option-disabled">
                            <div class="option-icon-content">
                                <i class="fa-solid fa-rotate-left"></i>
                            </div>
                            <div class="option-detail">
                                <h3>Devolución</h3>
                                <p>Devolución de artículos</p>
                            </div>
                        </a> --}}
                        {{!-- <a href="" class="option option-disabled">
                            <div class="option-icon-content">
                                <i class="fa-solid fa-file-lines"></i>
                            </div>
                            <div class="option-detail">
                                <h3>Reportes</h3>
                                <p>Reporteria de ventas</p>
                            </div>
                        </a> --}}

                        {{!-- <a href="" class="option option-disabled">
                            <div class="option-icon-content">
                                <i class="fa-regular fa-paste"></i>
                            </div>
                            <div class="option-detail">
                                <h3>NCF</h3>
                                <p>Configuración de NCF</p>
                            </div>
                        </a> --}}

                        {{!-- <a href="" class="option option-disabled">
                            <div class="option-icon-content">
                                <i class="fa-solid fa-money-bills"></i>
                            </div>
                            <div class="option-detail">
                                <h3>Arqueo</h3>
                                <p>Arqueo de caja</p>
                            </div>
                        </a> --}}
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script>
        document.querySelector('a[href="/facturacion"]').classList.add('active')
    </script>
</body>

</html>