<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{> head_links}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css" />
    <link rel="stylesheet" href="./css/inventario.css">
    <link rel="stylesheet" href="./css/main.css">

</head>

<body>
    {{> tools}}
    <div class="general-content">
        {{> side_menu}}
        <div class="main-content">
            {{> head}}

            <main>
                <div class="button-content">
                    <button class="btn btn-info" id="searchCustomer">
                        Buscar 
                        <div class="icon-content">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </button>
                    <button class="btn btn-info" id="clearInputs">
                        Limpiar
                        <div class="icon-content">
                            <i class="fa-solid fa-eraser"></i>
                        </div>
                    </button>
                    <button class="btn btn-success" id="saveCustomer">
                        Guardar
                        <div class="icon-content">
                            <i class="fa-regular fa-floppy-disk"></i>
                        </div>
                    </button>
                </div>
                <div class="articles-form-content" id="articleForm">

                    <div class="input-form-content image-form">
                        <label for="cusrtomerPhoto">Imagen</label>
                        <label for="imageSelector" class="img-content" id="customerImg">
                            <figure>
                                <img src="./src/img/user-icon.jpeg" alt="" id="customerImage">
                            </figure>
                        </label>
                        <input type="file" accept="image/*" id="imageSelector" class="image-selector">
                        <span>Foto del cliente</span>
                    </div>

                    <div class="input-form-content">
                        <label for="customerCode">Código</label>
                        <input class="input-form rerquired" type="text" value="Nuevo" id="customerCode" disabled>
                        <span>Codigo del cliente</span>
                    </div>

                    <div class="input-form-content">
                        <label for="customerName">Nombre</label>
                        <input class="input-form required" type="text" id="customerName">
                        <span></span>
                    </div>

                    <div class="input-form-content">
                        <label for="customerLastName">Apellido</label>
                        <input class="input-form" type="text" id="customerLastName">
                        <span> </span>
                    </div>

                    <div class="input-form-content">
                        <label for="identifyCustomer">Cédula</label>
                        <input class="input-form" type="text" id="identifyCustomer">
                        <span>Numero de identificación</span>
                    </div>
                    <div class="input-form-content">
                        <label for="identifyCustomer">Celular</label>
                        <input class="input-form" type="text" id="cellPhone">
                        <span>Numero de identificación</span>
                    </div>
                    <div class="input-form-content">
                        <label for="identifyCustomer">Teléfono</label>
                        <input class="input-form" type="text" id="tellPhone">
                        <span>Numero de identificación</span>
                    </div>
                    <div class="input-form-content">
                        <label for="customerCreationDate">Fecha</label>
                        <input class="input-form" type="date" id="customerCreationDate" disabled>
                        <span>Fecha de creación</span>
                    </div>

                    <div class="input-form-content">
                        <label for="customerStatus">Estatus</label>
                        <select class="input-form required" name="" id="customerStatus">
                            <option value="">Seleccionar opción</option>
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                        <span>Estatus del cliente</span>
                    </div>


                </div>
            </main>
        </div>
    </div>

    <div class="modal-content customers-modal" id="customerModal">
        <div class="modal">
            <div class="close-modal" id="closeModal">
                <p>X</p>
            </div>
            <div class="table" id="customerTable">
                <div class="thead">
                    <div class="tr">
                        <div class="th text-center">Código del cliente</div>
                        <div class="th text-left">Nombre</div>
                        <div class="th text-left">Apellido</div>
                        <div class="th text-left">Cédula</div>
                        <div class="th text-center">Estatus</div>
                    </div>
                </div>
                <div class="tbody" id="tbodyCustomer">
                </div>
            </div>
        </div>
    </div>

    <script src="./js/sales/customers.js" type="module"></script>

    <script>
        document.querySelector('a[href="/facturacion"]').classList.add('active')
    </script>
</body>

</html>