<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css" />
    <link rel="stylesheet" href="./css/factura.css">
    {{> head_links}}
    <link rel="stylesheet" href="">
    <title>Ordenes creadas</title>
</head>

<body>
    <div class="content-order">
        <div class="panel-content">
            <div class="btn-close" id="btnClose">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="title">
                <p>
                    Todas las ordenes creadas
                </p>
            </div>
            <div class="row-head">
                <div class="search">
                    <input type="text" placeholder="Buscar orden">
                </div>
                <div class="filter">
                    <select name="" id="">
                        <option value="">En proceso</option>
                        <option value="">Rechazado</option>
                        <option value="">Entregado</option>
                    </select>
                </div>
            </div>
            <div class="content-card" id="contentCard">

            </div>
        </div>
    </div>

    <template id="templateMenuTable">
        <div class="content-menu-table">
            <div class="row-option" id="openDocument">
                <div class="ico">
                    <i class="fa-regular fa-folder-open"></i>
                </div>
                <p>
                    Abrir
                </p>
            </div>
            <div class="row-option" id="postDocument">
                <div class="ico">
                    <i class="fa-regular fa-paper-plane"></i>
                </div>
                <p id="textStatus">
                </p>
            </div>
            <div class="row-option" id="decline">
                <div class="ico">
                    <i class="fa-regular fa-paper-plane"></i>
                </div>
                <p id="">
                    Rechazar
                </p>
            </div>
            <div class="row-option">
                <div class="ico">
                    <i class="fa-solid fa-print"></i>
                </div>
                <p>
                    Imprimir
                </p>
            </div>
        </div>
    </template>
    {{> tools}}
</body>

<script src="./js/sales/table-order.js" type="module"></script>

</html>