<div class="head-content">

    <div class="info-section">

        <div class="icon-module">
            <i id="iconContent" class="{{ icon }}"></i>
        </div>
        <div class="detail-module">
            <h2 id="moduleName">{{ mainTitle }}</h2>
        </div>

    </div>

    <div class="profile-section">
        <div class="profile-content">
            <div class="profile-info">
                <p id="profileName">Nombre del usuario</p>
            </div>
            <div class="profile-img">
                <figure>
                    <img src="./src//img/user-icon.jpeg" id="userImage" alt="imagen del usuario">
                </figure>
            </div>
        </div>
    </div>

</div>