<div class="side-menu">
    <div class="head-content-menu">
        <div class="logo-content">
            <figure>
                <img src="../src/img/mode-fashion.png" alt="">
            </figure>
        </div>
    </div>

    <hr class="hr">

    <div class="main-content-menu">
        <a href="/facturacion" class="option">
            <i class="fa-solid fa-store"></i>
            <p>Ventas</p>
        </a>

        <a href="/inventario" class="option">
            <i class="fa-solid fa-paste"></i>
            <p>Inventario</p>
        </a>

        <a href="/compras" class="option">
            <i class="fa-solid fa-file-invoice-dollar"></i>
            <p>Compras</p>
        </a>

        <a href="" class="option">
            <i class="fa-solid fa-gears"></i>
            <p>Configuraciones del sistema</p>
        </a>
    </div>
</div>