{{!-- ALERT BANNER --}}
<div class="alert-banner" id="loaderBar">
    <div class="object-content">
        <div class="content-icon">
            <div id="contentIconAlert">
                <i id="alertIcon"></i>
            </div>
        </div>
        <div class="message-content">
            <div class="message-alert">
                <p id="alertMessage"></p>
            </div>
        </div>
        <div class="exit-content" id="exitAlertBanner">
            <div class="exit-button-alert">
                <p>X</p>
            </div>
        </div>
    </div>
    <div id="loaderBarPorcent"></div>
</div>

{{!-- TODO: alert banner confirmatio --}}
<div class="alert-banner confirmation-banner how" id="loaderBarConfirmation">
    <div class="object-content">
        <div class="content-icon">
            <div id="contentIconAlert" class="icon-container-warning">
                <i id="alertIcon" class="fa-solid fa-exclamation"></i>
            </div>
        </div>
        <div class="message-content">
            <div class="message-alert">
                <p id="alertMessage">El costo del pedido esta en cero. ¿seguro que desea continuar?</p>
            </div>
            <div class="confirmation-button-content">
                <button class="btn btn-success btn-sm">Aceptar</button>
                <button class="btn btn-danger btn-sm">Rechazar</button>
            </div>
        </div>
        <div class="exit-content" id="exitAlertBanner">
            <div class="exit-button-alert">
                <p>X</p>
            </div>
        </div>
    </div>
    <div id="loaderBarPorcent" class="loader-bar-warning"></div>
</div>
{{!-- TODO: alert banner confirmatio --}}

{{!-- CONFIRMATION MODAL --}}
<div class="accept-reject-content" id="modalContainerBackground">
    <div class="accept-content-modal" id="modalContent">
        <div class="text-content">
            <h1 id="textHeader">Desea Guardar?</h1>
            <p id="textP">Este articulo se guardara con los cambios solicitados</p>
        </div>
        <div class="button-content">
            <div class="accept-content">

                <button id="acceptButtton" class="accept-btn">
                    <i class="fa-regular fa-circle-check"></i>&nbsp Aceptar
                </button>
            </div>
            <div class="reject-content">
                <button id="rejectButton" class="reject-btn">
                    <i class="fa-regular fa-circle-xmark"></i>&nbspRechazar
                </button>
            </div>
        </div>
    </div>
</div>

{{!-- LOADER --}}
<div class="loader-content" id="loaderContent">
    <div class="loader"></div>
</div>